<h3><%=title%></h3>

<h4>
  <% if ( locals.credit != undefined ) { %>
    <%=credit%>
  <% } %>
  <% if ( locals.date )  { %>
  <span class="badge"><%=date%></span>
  <% } %>
</h4>
<blockqoute>
  <p>
    <a href="<%=url%>" target="_blank"><%=url%></a>
  </p>
</blockqoute>
